parameters:
	excludes_analyse:
		- %currentWorkingDirectory%/Vendor/*
		- %currentWorkingDirectory%/Tools/Route/*
		- %currentWorkingDirectory%/Tests/*
	ignoreErrors:
		- '#Constant ROOT_PATH not found.#'
